




/* quienes somos-rostros */
.colombia, .venezuela, .mexico{
  display: flex;
  margin-left: -100px;
  margin-top: -300px;
  font-family: 'Piedra', cursive;
  font-size: 60px;
}


/* barra y carrusel */
.logo-barra{
height: 100px;
width: 100px;
}

.rostro{
  width: 1400px;
  height: 700px;
  
  }

  .perfiles{
    font-family: 'Katibeh', cursive;
    font-size: 130px;
    display: flex;
    justify-content: center;
  }

  .carrusel{
    display: flex;
    justify-content: center;
  }
.bandera{
  width: 1400px;
  
}
.boton{
  color: red;
  border-color: yellow;
  
  
}
.boton:hover{
  background-color: yellow;
}



/* perfiles */
/* common styles !!!YOU DON'T NEED THEM */
body {
  font-family: 'Niramit', sans-serif;
  font-size: 16px;
  color: #101010;
}
.container {
  width: 950px;
  margin: 50px auto 0px auto;
  text-align: center;
}
h1 {
  margin: 0;
  font-weight: 400;
  font-size: 35px;
}
h1 span {
  font-family: 'Mali', cursive;
  font-weight: bold;
  color: #7a306c;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 30px auto 0;
}
.link a {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  font-size: 17px;
  color: #1f1f1f;
  text-decoration: none;
}
.link a:last-child {
  margin-right: 0;
}
.link a:hover {
  color: #7a306c;
}
.link a i {
  color: #7a306c;
  margin-right: 5px;
}
.content-block {
  margin-top: 50px;
}
.content-block h2 {
  margin-bottom: 30px;
}
.content-block__effect {
  margin-bottom: 50px;
}
/* effects styles !!!YOU NEED THEM */
/* don't forget to add your own colors and parameters */
.portfolio-effect {
  display: flex;
  justify-content: space-between;
}
.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.portfolio-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
  max-height: 200%;
  transform: translate(-50%, -50%);
}
.portfolio-item__info {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * 7px);
  height: calc(100% - 2 * 7px);
  background-color: rgba(255, 255, 255, .7);
}
.portfolio-item__header {
  position: relative;
  margin: 0 0 20px 0;
  padding: 15px 0;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.portfolio-item__header:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  width: 100%;
  content: '';
  background-color: #8d909b;
}
.portfolio-item__links {
  display: flex;
}
.portfolio-item__link-block {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.portfolio-item__link-block:last-child {
  margin-right: 0;
}
.portfolio-item__link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #101010;
  text-decoration: none;
  border: 1px solid #101010;
  border-radius: 50%;
}
.portfolio-item__link:hover {
  color: #fff;
  background-color: #101010;
}
/* EFFECT #1 STYLES */
.portfolio-item--eff1 .portfolio-item__info {
  transform: scale(1.1);
  opacity: 0;
}
.portfolio-item--eff1 .portfolio-item__header {
  top: -10px;
  opacity: 0;
}
.portfolio-item--eff1 .portfolio-item__header:after {
  transform: scaleX(0);
}
.portfolio-item--eff1 .portfolio-item__link-block {
  top: 20px;
  opacity: 0;
}
.portfolio-item--eff1:hover .portfolio-item__info {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
  opacity: 1;
}
.portfolio-item--eff1:hover .portfolio-item__header {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.45s;
  top: 0;
  opacity: 1;
}
.portfolio-item--eff1:hover .portfolio-item__header:after {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.63, 0.01, 0, 1.39);
  transition-delay: 0.65s;
  transform: scaleX(1);
}
.portfolio-item--eff1:hover .portfolio-item__link-block {
  top: 0;
  opacity: 1;
}
.portfolio-item--eff1:hover .portfolio-item__link-block:first-child {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.85s;
}
.portfolio-item--eff1:hover .portfolio-item__link-block:nth-child(2) {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.95s;
}

/* cards */
.cards {
  border: 1px black solid;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  height: 500px;
 margin-top: 40px;
}
.cards2{
  border: 1px black solid;
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  height: 630px;
 
}

.barra{
  height: 30px;
  width: 300px;
  background-color:white;
}
.rojo{
  background-color: red;
  }
  .amarillo{
    background-color: yellow;
  }
    .perla{
      background-color: whitesmoke;
    }







